@model IEnumerable<web.Models.Payment>
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity

@if (!SignInManager.IsSignedIn(User) || !User.IsInRole("Staff")) {
    <script>
        window.location.href = '@Url.Action("Index", "Home")';
    </script>
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
